<footer>
	<div class="container footer">
		<div class="what-we-stand-for">
			<ul>
				<h4>Who we are</h4>
				<a href="">Our Vision</a>
				<a href="">Our Mission</a>
				<a href="">2050 Calculator</a>
				<a href="">Reports and publications</a>
			</ul>
		</div>
		<div class="can-we-help">
			<h4>Can we help?</h4>
			<ul>
				<a href="">Contact us</a>
				<a href="">vacancies</a>
			</ul>
		</div>
		<div class="connect-us">
			<h4>Connect with us</h4>

			<div class="social-icons">
				<!-- Facebook -->
				<a href="https://www.facebook.com" target="_blank">
					<i style="margin-right: 10px" class="fab fa-facebook-f"></i>
					facebook
				</a>
				<!-- Twitter -->
				<a href="https://www.twitter.com" target="_blank">
					<i style="margin-right: 10px" class="fab fa-twitter"></i>
					twitter
				</a>
				<!-- Instagram -->
				<a href="https://www.instagram.com" target="_blank">
					<i style="margin-right: 10px" class="fab fa-instagram"></i>
					instagram
				</a>
				<!-- LinkedIn -->
				<a href="https://www.linkedin.com" target="_blank">
					<i style="margin-right: 10px" class="fab fa-linkedin-in"></i>
					linkedin
				</a>
				<a href="https://www.youtube.com" target="_blank">
					<i style="margin-right: 10px" class="fab fa-youtube"></i>
					youtube
				</a>
			</div>
		</div>
	</div>
</footer>
<!-- <script src="../dist/bundle.js"></script> -->
<script src="js/jquery.min.js"></script>

<script src="js/index.js"></script>
<script src="js/script.js"></script>
<script src="js/js-material.js"></script>
