<footer>
	<div class="footer">
			<div class="footer-container">
				<div class="footer-section links">
					<h3>Quick Links</h3>
					<ul>
						<li><a href="/about">About Us</a></li>
						<li><a href="/publications">Publications</a></li>
						<li><a href="/projects">Projects</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>

				<div class="footer-section contact">
					<h3>Contact Us</h3>
					<p>Plot 701C, Central Business District, Abuja, Nigeria</p>
					<p>
						Email: <a href="mailto:info@energy.gov.ng">info@energy.gov.ng</a>
					</p>
					<p>Phone: +234 9 123 4567</p>
				</div>

				<div class="footer-section newsletter">
					<h3>Subscribe to Our Newsletter</h3>
					<p>Get the latest updates on energy policies, projects, and news.</p>
					<form action="/subscribe" method="POST">
						<input
							type="email"
							name="email"
							placeholder="Enter your email"
							required
						/>
						<button type="submit">Subscribe</button>
					</form>
				</div>

				<div class="footer-section about">
					<h3>Follow us</h3>
					<div class="social-icons">
						<!-- Facebook -->
						<a href="https://www.facebook.com" target="_blank">
							<i style="margin-right: 10px" class="fab fa-facebook-f"></i>
							facebook
						</a>
						<!-- Twitter -->
						<a href="https://www.twitter.com" target="_blank">
							<i style="margin-right: 10px" class="fab fa-twitter"></i>
							twitter
						</a>
						<!-- Instagram -->
						<a href="https://www.instagram.com" target="_blank">
							<i style="margin-right: 10px" class="fab fa-instagram"></i>
							instagram
						</a>
						<!-- LinkedIn -->
						<a href="https://www.linkedin.com" target="_blank">
							<i style="margin-right: 10px" class="fab fa-linkedin-in"></i>
							linkedin
						</a>
						<a href="https://www.youtube.com" target="_blank">
							<i style="margin-right: 10px" class="fab fa-youtube"></i>
							youtube
						</a>
					</div>
				</div>
			</div>

			<div class="footer-bottom">
				<p>
					&copy; <span id="year"></span> Energy Commission of Nigeria. All
					Rights Reserved.
				</p>
			</div>
		
	</div>
</footer>
<!-- <script src="../dist/bundle.js"></script> -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>

<script src="/js/index.js"></script>
<script src="/js/script.js"></script>
<script src="/js/js-material.js"></script>
</body>
</html>
