<div class="container">
	<nav>
		<ul>
			<img src="./images/ecn-logo.png" alt="" />
			<li class="pd-2"><a href="/">Home</a></li>
			<li class="pd-2">
				<a href="#" class="dropdown-toggle">Who we Are</a>
				<ul class="dropdown">
					<li>
						<a href="#" class="submenu-toggle">Leadership</a>
						<ul class="submenu no-shadow">
							<li><a href="#">Management</a></li>
							<li><a href="#">Technical Advisory</a></li>
						</ul>
					</li>
					<li><a href="#">Vision & Mission</a></li>
					<li><a href="#">Research Centers</a></li>
				</ul>
			</li>
			<li class="pd-2"><a href="#">Projects</a></li>
			<li class="pd-2">
				<a href="#" class="dropdown-toggle">Publications</a>
				<ul class="dropdown">
					<li>
						<a href="#" class="submenu-toggle">Reports</a>
						<ul class="submenu no-shadow">
							<li><a href="reports">Annual Reports</a></li>
							<li><a href="#">Reports Warehouse</a></li>
						</ul>
					</li>
					<li><a href="papers">Papers</a></li>
					<li><a href="#">Journals</a></li>
				</ul>
			</li>
			<li class="pd-2"><a href="news">News</a></li>
			<li class="pd-2"><a href="#">Databank</a></li>
			<li class="pd-2"><a href="#">Contact Us</a></li>
		</ul>
		<div class="search-container">
			<i class="fa fa-search"></i>
		</div>
	</nav>
</div>
