<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Energy Commission of Nigeria</title>
		<link rel="stylesheet" href="css/style.css" />
		<link
			rel="stylesheet"
			href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css"
		/>
		<!-- Font Awesome CSS -->
	</head>
	<body>
		<header>
			<%- include('./partials/navbar') %>
			<div id="news-view">
				<h1><%= data.title %></h1>
				<h1><%= data.content %></h1>
			</div>
		</header>
		<%- include('./partials/footer') %>
	</body>
</html>
