* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans",
		sans-serif;

	color: #555;
}

h1 {
	color: #333;
}

h3 {
	color: #333;
	font-size: 18px;
	margin-bottom: 2px;
}

h4 {
	color: #333;
	font-size: 21px;
	margin-bottom: 2px;
	margin-bottom: 20px;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 1300px;
	margin: 0 auto;
	background-color: #fff;
	/* border: 1px solid #555; */
}

.pd-2 {
	padding: 10px;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans",
		sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ddd;
	color: #555;
}
/* Basic styles for the navigation bar and drop-down */
nav {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #fff;
	padding: 10px;
	border-bottom: 1px solid #555;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	z-index: 120;
}

nav img {
	width: 65px;
	margin-right: 10px;
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
nav ul li {
	display: inline-block;
	position: relative;
	border-radius: 4px;
	transition: all ease-in-out 0.25s;
}

nav ul li:hover {
	background-color: #f4f6f6;
}
nav ul li a {
	color: #555;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}
nav ul li .dropdown,
nav ul li .submenu {
	display: none;
	position: absolute;
	background-color: #fff;
	padding: 0;
	list-style-type: none;
	width: 200px; /* Adjust width as needed */
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	z-index: 10;
}
nav ul li .dropdown {
	top: 100%;
	left: 0;
}
nav ul li .submenu {
	top: 0;
	left: 0; /* Change to 0 to appear under parent */
	position: relative;
}
nav ul li .dropdown li,
nav ul li .submenu li {
	display: block;
}

.no-shadow {
	box-shadow: none !important;
}

#hero {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 580px;
}

.ecn-initiative-1 {
	width: 40%;
	/* border: 1px solid #555; */
	background-image: url("../images/hero-photo3.jpeg");
	/* Ensure the background image covers the entire section */
	background-size: cover;
	/* Center the background image */
	background-position: center;
	position: relative;
	height: 100%;
}

.latest-news-update {
	padding: 15px;
	text-align: left;
	background-color: #fff;
	width: 60%;
	height: 100%;
	line-height: 1.5em;
	text-align: justify;
	background-image: url("../images/hero/hero2.jpeg");
	/* Ensure the background image covers the entire section */
	background-size: cover;
	/* Center the background image */
	background-position: center;
	position: relative;
	height: 100%;
	position: relative;
}

.update-caption {
	position: absolute;
	left: 20px;
	top: 50px;
	width: 400px;
	height: 230px;
	border: 3px solid #fff;
	position: relative;
	padding: 10px;
	color: white;
	font-size: 20px;
	cursor: pointer;
	padding: 10px;
}

.update-caption .content {
	z-index: 2;
	padding: 10px;
}

.update-caption a {
	display: block;
	color: #fff;
	margin-top: 10px;
}

.update-caption {
	z-index: 2;
	color: #fff;
}

.update-caption div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.15);
	transition: background ease-in-out 0.3s;

	z-index: 1;
}

.update-caption div:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.caption {
	position: absolute;
	/* border: 1px solid #555; */
	padding: 20px;
	line-height: 1.5em;
	width: 350px;
	background-color: #fff;
	border-radius: 3px;
	left: 25px;
	top: 50px;
	color: #555;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	text-align: justify;
}

footer {
	border-top: 1px solid #555;
	background-color: #fff;
}
footer ul {
	list-style: none;
}

#search-publications {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.5;
	background-color: #555;
	width: 100%;
	height: 100vh;
	z-index: 200;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: none;
}

#publications-input {
	position: fixed;
	border: none;
	display: none;

	width: 500px;
	margin: auto;
	background-color: none;
	height: 100px;
	z-index: 210;
	margin-top: 200px;
}

#publications-input h3 {
	margin-bottom: 10px;
	text-align: center;
	font-size: 27px;
	color: black;
	font-weight: bolder;
}

#input-pub {
	font-size: 22px;
	color: black;
	padding: 10px;
	border: none;
	border-bottom: 1px solid #fff;
	font-size: 22px;
	background-color: none;
	width: 500px;
}

#form {
	position: absolute;
	margin: auto;

	z-index: 210;

	background-color: none !important;
	height: 70px;
}

#body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer a {
	display: block;
	font-size: 14px;
}

footer a:hover {
	text-decoration: underline;
}

footer a,
li {
	padding: 6px 0;
}

.footer {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;
	background-color: #fff;
	color: #555;
	padding: 40px 15px;
}

footer a {
	font-size: 12px;
}

.report-bucket {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#report-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.report-view {
	display: flex;
	flex-direction: column;
	max-width: 200px;
	min-width: 100px;

	border-radius: 3px;

	transition: all ease-in-out 0.8s;
	margin: 5px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 2px;
	cursor: pointer;
}

.report-view:hover {
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.report-view-text {
	display: flex;
	flex-direction: column;
	padding: 10px;
	color: #333;

	text-align: justify;
	border-top: 1px solid #555;
}

.report-view-text a {
	border: none;
	color: #fff;
	border-radius: 3px;
	width: 100%;
	background-color: #0e6655;
	margin: 10px 0;
	text-align: center;
	padding: 10px 0;
	transition: all ease-in-out 0.3s;
}

.report-view-text a:hover {
	background-color: #fff;
	color: #0e6655;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.report-view-text h2 {
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
}

.report-view-text p {
	font-size: 14px;
}

.news-view-text a {
	font-size: 25px;
	line-height: 1.5em;
	text-decoration: underline;
	font-weight: bold;
}

.bucket {
	/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
	border-radius: 3px;
	width: 100%;
	border: none;
	margin: 30px 0;
	/* background-color: #ecf0f1; */
	padding: 10px;
	/* border: 1px solid black; */
}

.bucket a {
	text-decoration: underline;
	color: #555;
	font-weight: bold;
}

.news-view-text {
	background-color: #fff;
}

#news-view {
	padding: 10px;
}

#news-view h1 {
	color: #555;
	margin: 10px 0;
}

#news-view p {
	font-size: 1.1rem !important;
	text-align: justify !important;
	margin-bottom: 15px !important;
	line-height: 1.7; /* Standard readability */
}

/* copied code begins from here */

#report-list-home {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.section {
	padding: 60px 20px;
	background-color: white;
	border-top: 1px solid #ddd;
}

.section h2 {
	font-size: 2em;
	margin-bottom: 20px;
	color: black;
	text-align: center;
}

.section p {
	font-size: 1.1em;
	line-height: 1.6;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
}

.section a {
	font-size: 1.1em;
	line-height: 1.6;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
}

.card-holder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.card-holder a {
	cursor: pointer;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: none;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	z-index: 10;
	height: 350px;
	color: #555;
	width: 150px;
	transition: all ease-in-out 0.3s;
}

.card:hover {
	box-shadow: rgba(0, 0, 0, 0.29) 0px 20px 40px,
		rgba(0, 0, 0, 0.13) 0px 10px 10px;
}

.card a {
	padding: 5px;
	color: #fff;
	background-color: #0e6655;
	border-radius: 3px;
	border: none;
	font-size: 14px;
}

.card h2 {
	font-size: 14px;
	margin: none !important;
	margin-bottom: 3px;
}

.card p {
	font-size: 12px;
	margin-bottom: 10px;
}

.card img {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 180px;
}

.news-latest {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
	flex-wrap: wrap;
}

.news-meta {
	font-size: 0.9rem;
	color: #777; /* Lighter color for date & author */
	margin-bottom: 15px;
}

.news-block {
	display: flex;
	flex-direction: column;
	height: 400px;
	border-radius: 3px;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	transition: all ease-in-out 0.3s;
	width: 350px;
	padding: 10px;
	background-color: #fbfcfc;
	cursor: pointer;
}

.news-block:hover {
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.news-block .img {
	background-size: cover;
	/* Center the background image */
	background-position: center;
	position: relative;
	height: 100%;
	height: 50%;
}

.news-block a {
	margin-top: 8px;
	color: #555;
	text-decoration: underline;
}

.news-block .text p,
h3 {
	color: #555;

	text-align: justify;
}

.news-block .text p {
	font-size: 14px;
	margin-bottom: 15px;
}

#news-list {
	padding: 10px;
}

#news-list h2 {
	margin: 10px 0;
	font-size: 30px;
}

.news-block .text h3 {
	font-size: 16px;
	margin: 15px 0;
}

.dropdown-toggle {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#vision {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#vision div {
	flex: 1;

	/* height: 150px; */
}

#vision p {
	font-size: 20px;
	line-height: 1.5em;
	color: #555;
	opacity: 0.3;
	margin: 0;
}

#vision h3 {
	color: #555;
	font-size: 24px;
	margin: 0;
}

.vision-bucket {
	position: relative;
	/* border: 1px solid black; */
}

.div-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background-image: url("../images/vision-background.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* hidden text js */
.hidden-text {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
.visible {
	opacity: 1;
}
.animate__fadeInUp {
	animation: fadeInUp 1s ease-in-out;
}
@keyframes fadeInUp {
	from {
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

#news-alert {
	padding: 15px;
	color: #fff;
	border-radius: 3px;
	border: 1px solid #fff;
	font-size: 16px;
	background-color: #0e6655;
	transition: all ease-in-out 0.3s;
	margin: 10px;
	cursor: pointer;
}

#news-alert:hover {
	background-color: #fff;
	color: #0e6655;
	border: 1px solid #0e6655;
}

font {
	color: #0e6655;

	font-weight: bold;
}

#latest-news h2 {
	font-size: 28px;
	color: #555;
}

#reports h2 {
	color: #555;
}

.counter-container {
	text-align: center;
	margin: 20px;
	/* display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #fff; */
}
.counter {
	font-size: 48px;
	font-weight: bold;
	color: #0e6655;
}
.captions {
	font-size: 18px;
	color: #34495e;
}

.flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.contact-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("/images/ecn_hq.jpg");
	filter: contrast(200%); /* Increase contrast */
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	position: relative;
}

.contact-img h1 {
	font-size: 102px;
	font-weight: bolder;
	color: #fff;
	font-weight: bold;
	margin: auto;
	position: absolute;
	top: 250px;
	left: 470px;
}

.contact-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	padding: 20px 0;
}

.form-contact {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.contact-form-detail {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
}

.contact-form-detail,
iframe {
	flex: 1;
}

#send-message {
	background-color: #0e6655;
	border: none;
	padding: 0 10px;
	height: 400px;
}

#send-message input,
#message {
	border: none;
	margin: 10px 0;
	border-bottom: 2px solid white; /* Add a white border at the bottom */
	background-color: transparent; /* Make the background transparent */
	color: white; /* Set the text color to white (optional) */
	outline: none; /* Remove the outline when the input is focused */
	padding: 5px 0;
	color: #fff;
	display: block;
	width: 100%;
	font-size: 18px;
}

.form-contact #send-message .btn {
	padding: 10px;
	border: 1px solid #0e6655;
	background-color: #fff;
	color: #0e6655;
	border-radius: 3px;
	margin: 10px 0;
	display: inline-block;
}

#message {
	height: 120px;
}

.news-images {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.news-images img {
	width: calc(
		33% - 10px
	); /* Each image takes up 1/3rd of the container width */
	height: 100px;
	border-radius: 5px;
}

#twitter-news-feed {
	overflow: hidden;
	overflow-y: scroll;
	padding: 0 10px;
	height: 100%;
}

/* table style here but temporarily */

/* General table styling */
table {
	width: 100%;
	border-collapse: collapse;
	margin: 40px 0 0 0;
	font-size: 16px;
	font-family: Arial, sans-serif;
	background-color: #fff;
}

/* Table header styling */
table thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: left;
}

/* Table body row styling */
table tbody tr {
	border-bottom: 1px solid #dddddd;
}

/* Table body row hover effect */
table tbody tr:hover {
	background-color: #f1f1f1;
}

/* Table cell padding */
table th,
table td {
	padding: 8px;
	text-align: left;
}

/* Image styling */
table img {
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.paper-image {
	width: 150px; /* Adjust width as needed */
	height: auto; /* Maintains aspect ratio */
}
/* Ensure table cells adjust to the image size */
.image-cell {
	width: 150px; /* Match this to the image width */
}

.news-images img {
	max-width: 300px; /* Prevents it from getting too large */
	height: auto; /* Keeps aspect ratio */
	display: block; /* Prevents inline spacing issues */
	margin: 10px auto; /* Centers the image and adds spacing */
	border-radius: 8px; /* Adds rounded corners */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
	object-fit: cover; /* Ensures images fill their area without distortion */
}

.title-column {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 0.9em;

	letter-spacing: 1px;
}
.title-column:hover {
	background-color: #e0e0e0;
}

/* mission and vision new css */

.mission-vision {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url("../images/vision-background.jpg") no-repeat center
		center/cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
	padding: 20px;
}
.mission-vision .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(14, 102, 85, 0.85); /* Green overlay */
}
.mission-vision .content {
	position: relative;
	max-width: 800px;
	z-index: 1;
	color: #fff;
}
.mission-vision .content h1 {
	font-size: 36px;
	margin-bottom: 20px;
	color: #ffff;
}
.mission-vision .content h2 {
	font-size: 18px;
	line-height: 1.6;
	color: #fff;
	font-weight: lighter;
}

/* ENDS */

@media (max-width: 600px) {
	.title-column {
		font-size: 0.7em;
	}
}

/* table ends here */
